$primaryClr : #272a31;
$secondaryClr: #ec5242;
$thirdClr: #d3d3d3;
$bodyClr: #f1f1f1;
$primaryText : 'Lato',
sans-serif;

body {
    font-family: $primaryText;
    background-color: #f1f1f1;
    margin: 0;
    box-sizing: border-box;
}

nav {
    margin: 8px;

    a {
        position: relative;
        left: 10px;
    }
}

h1,
h2 {
    color: $secondaryClr;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 30px;

    #intro2 {
        display: flex;
        margin-top: 5px;
        font-size: 40px;
        letter-spacing: 0.08rem;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }

    #intro1 {
        margin-bottom: 5px;
        font-weight: 500;
    }

    #o-stripes {
        position: absolute;
        top: 64px;
        left: 90px;
        border-radius: 15px;
    }

    #stripes {
        position: absolute;
        top: 109px;
        right: 65px;
        width: 30px;
        border-radius: 20px;
        transform: rotate(331deg);
        background-color: $primaryClr;
    }

    #circle {
        position: relative;
        right: 92px;
        bottom: 32px;
    }

    .about-intro {
        backdrop-filter: opacity(0.5);
        border: 1px dotted $primaryClr;
        background-color: $bodyClr;
        display: flex;
        position: relative;
        bottom: 110px;

        p {
            width: 300px;
            margin: 20px;
            display: flex;
            text-align: center;
            font-family: $primaryText;
            opacity: 0.8;
        }
    }

}