body {
  font-family: "Lato", sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: transparent;
  margin: 8px;
}
nav a {
  position: relative;
  left: 10px;
}

h1,
h2 {
  color: #ec5242;
}

h3,
p {
  color: #272a31;
}

.headline {
  padding: 2px 5px;
  margin: 8px;
}

#hl-bg-1 {
  transform: rotate(45deg);
  position: absolute;
  width: 35px;
  top: 38px;
  left: 230px;
  opacity: 0.3;
}

#hl-bg-2 {
  position: absolute;
  top: 80px;
  left: 320px;
  opacity: 0.2;
}

#hl-bg-3 {
  position: absolute;
  right: 12px;
  top: 285px;
}

#intor1 {
  font-weight: 400;
  margin-bottom: 10px;
}

#intro2 {
  font-weight: 900;
  font-size: 40px;
  margin-top: 5px;
  letter-spacing: 0.05rem;
}

.intro-txt {
  -webkit-backdrop-filter: contrast(0);
          backdrop-filter: contrast(0);
  padding: 15px;
  background-color: #f1f1f1;
  border: 5px white solid;
  letter-spacing: 0.06rem;
}

.location {
  color: #272a31;
  opacity: 0.6;
}
.location img {
  position: absolute;
  left: 20px;
  opacity: 0.5;
}

#date {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 3px;
}

#place {
  font-size: 25px;
  margin-top: 0;
}

.main-program {
  background: url(/images/common/hitmar-resized.png);
  background-color: currentcolor;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.main-program h1 {
  color: #f1f1f1;
  font-weight: 100;
  display: flex;
  justify-content: center;
}
.main-program hr {
  width: 20%;
  background-color: #ec5242;
  border-style: solid;
  padding: 1px;
}
.main-program button {
  background-color: #ec5242;
  margin: 25px;
  padding: 15px;
  font-size: x-large;
  color: #f1f1f1;
  font-family: "Lato", sans-serif;
  border-style: none;
}

.program {
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.2901960784);
  margin: 8px;
  padding: 8px;
}
.program h3 {
  color: #ec5242;
  width: 25%;
}
.program p {
  color: #d3d3d3;
  width: 60%;
}
.program img {
  width: 10%;
}

.speakers {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.speakers hr {
  width: 20%;
  background-color: #ec5242;
  border-style: none;
  padding: 1px;
}
.speakers h2 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  color: #272a31;
  margin-bottom: 2px;
}
.speakers .speaker {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 8px;
}
.speakers .speaker img {
  width: 110px;
  height: 121px;
  -webkit-backdrop-filter: opacity(0.5);
          backdrop-filter: opacity(0.5);
}
.speakers .speaker h3 {
  margin-bottom: 0;
}
.speakers .speaker p {
  margin-top: 2px;
  color: #ec5242;
  font-size: 12px;
}
.speakers .speaker hr {
  border-style: none;
  padding: 1px;
  width: 12%;
  background-color: #272a31;
  position: relative;
  right: 44%;
  opacity: 0.6;
}
.speakers .speaker .speaker-info {
  color: #272a31;
  font-size: 11px;
}
.speakers button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  gap: 10px;
  font-weight: 600;
  margin: 8px;
  padding: 12px;
}
.speakers img {
  width: 15px;
  height: 15px;
}/*# sourceMappingURL=styles.css.map */