$primaryClr : #272a31;
$secondaryClr: #ec5242;
$thirdClr: #d3d3d3;
$bodyClr: #f1f1f1;
$primaryText : 'Lato',
sans-serif;

body {
    font-family: $primaryText;
    background-color: #f1f1f1;
    margin: 0;
    box-sizing: border-box;
}

nav {
    margin: 8px;

    .ham {
        height: 40px;
        width: 40px;
        background-image: url(/images/mobile/hamburger-icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        margin: 3px;
        margin-bottom: 100px;
    }

    .cross {
        background-image: url(/images/mobile/cross.png) !important;
        object-fit: contain;
        background-size: 20px;
    }

    a {
        position: relative;
        left: 10px;
    }

    .main-menu {
        position: absolute;
        left: -100%;
        flex-direction: column;
        list-style: none;
    }

    .show {
        left: 0%;
        background-color: $bodyClr;
        position: relative;
        bottom: 85px;
        list-style: none;
        height: 100vh;
        width: 100%;
        backdrop-filter: contrast(0);
        padding: 2px;
        display: flex;
        align-items: center;
        gap: 20px;

        a {
            text-decoration: none;
            color: $primaryClr;
            font-size: 25px;
            font-family: $primaryText;
            font-weight: 900;
        }
    }

    #nav-logo {
        display: none;
    }
}

h1,
h2 {
    color: $secondaryClr;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 30px;
    height: 600px;
    // margin-bottom: -28px;

    #intro2 {
        display: flex;
        margin-top: 5px;
        font-size: 40px;
        letter-spacing: 0.08rem;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        position: relative;
        bottom: 25px;
    }

    #intro1 {
        margin-bottom: 5px;
        font-weight: 500;
    }

    #o-stripes {
        position: relative;
        top: 6px;
        right: 87px;
        transform: rotate(36deg);
        border-radius: 8px;
    }

    #stripes {
        position: relative;
        bottom: 56px;
        left: 110px;
        width: 30px;
        transform: rotate(323deg);
        border-radius: 12px;
        background-color: $primaryClr;
    }

    #circle {
        position: relative;
        right: 92px;
        bottom: 32px;
    }

    .about-intro {
        backdrop-filter: opacity(0.5);
        border: 1px solid #272a3138;
        background-color: #fff;
        display: flex;
        position: relative;
        bottom: 110px;

        p {
            width: 300px;
            margin: 20px;
            display: flex;
            text-align: center;
            font-family: $primaryText;
            opacity: 0.8;
        }
    }

}

.event {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #272a3138;
    background-color: #fff;

    p {
        color: $primaryClr;
        text-align: center;
        opacity: 0.6;
    }

    h2 {
        color: $primaryClr;
        text-align: center;
        font-weight: 500;
    }

    #logo-div {
        display: flex;
        justify-content: center;
        position: relative;

        #logo {
            width: 200px;
        }
    }

    hr {
        border-style: none;
        padding: 1px;
        width: 10%;
        background-color: $secondaryClr;
        position: relative;
        opacity: 0.9;
    }
}

.past-events {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    #past-heading {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
    }

    hr {
        border-style: none;
        padding: 1px;
        width: 10%;
        background-color: $secondaryClr;
        position: relative;
        opacity: 0.9;
    }

    #past-intro {
        text-align: center;
        opacity: 0.8;
    }

    #past-img1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(rgb(172 31 43 / 49%), rgb(175 34 34 / 64%)), url(images/common/event1.jpeg);
        background-size: cover;
        height: 300px;
        margin: 20px;

        p,
        h2 {
            color: #f1f1f1;
        }
    }

    #past-img2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(rgb(206 17 33 / 75%), rgb(175 34 34 / 64%)), url(images/common/event2.jpeg);
        background-size: cover;
        height: 300px;
        margin: 20px;

        p,
        h2 {
            color: #f1f1f1;
        }
    }
}

.partner {
    display: flex;
    flex-direction: column;
    background-color: $primaryClr;

    h2 {
        text-align: center;
        color: $bodyClr;
        font-weight: 500;
    }

    hr {
        border-style: none;
        padding: 1px;
        width: 10%;
        background-color: $secondaryClr;
        position: relative;
        opacity: 0.7;
    }

    .partner-logo {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 30px;
        grid-template-columns: auto auto auto;
        padding: 10px;

        img {
            width: 80px;
        }
    }
}

footer {
    display: flex;
    gap: 20px;
    justify-content: center;
    // margin: 8px;
    background-color: #fff;

    img {
        width: 100px;
    }
}

// desktop version

@media only screen and (min-width: 769px) {
    .ham {
        display: none;
    }

    nav {
        display: flex;
        background-color: #fff;
        margin: 0;
        align-items: center;
        justify-content: center;

        #nav-logo {
            display: flex !important;
            width: 45px;
            height: 45px;
            position: relative;
            left: -139px;
        }
    }

    .main-menu {
        display: flex !important;
        flex-direction: row !important;
        position: relative !important;
        gap: 85px;
        left: 180px !important;

        #home-link {
            display: none;
        }

        #about-link {
            color: $secondaryClr;
        }

        a {
            text-decoration: none;
            color: $primaryClr;

            &:hover {
                color: $secondaryClr;
            }
        }
    }

    .headline {

        #intro2 {
            width: 432px;
        }

        #intro1 {
            display: none;
        }

        .about-intro {
            width: 1000px;

            p {
                width: auto;
            }
        }

        #circle {
            right: 500px;
            top: 20px;
        }

        #o-stripes {
            right: 360px;
            top: 50px;
        }
    }

    .event {
        h2 {
            margin-bottom: 1px;
        }

        hr {
            width: 30px;
        }
    }

    .past-events {
        h3 {
            margin-bottom: 5px;
        }

        hr {
            width: 30px;
        }

        .past-img-s {
            display: grid;
            grid-template-columns: auto auto;
            margin: 50px;
            justify-content: center;

            #past-img1 {
                width: 400px;

                h2 {
                    margin-bottom: 1px;
                }
            }

            #past-img2 {
                width: 400px;

                h2 {
                    margin-bottom: 1px;
                }
            }
        }
    }

    .partner {
        display: none;
    }

    footer {
        background-color: $primaryClr;

        p {
            color: $thirdClr;
        }
    }
}